@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
*{
    margin : 0;
    padding : 0;
}
body{
    background: url(bg1.jpg);
    background-size: cover;
    font-family:'Source Sans Pro', sans-serif;
}
header{
    top:0;
    left:0;
    background-color: #E4BAD4;
    height: 55px;
    position:sticky;
    color: black; 
    z-index: 100000 ;
    display: flex;
}
.logo{
    font-size: 36px;
    padding-left: 35px;
    padding-right: 15px;
    float: left;
    font-family: 'Viaoda Libre', cursive;
}
.menu{
    float: right;
}
nav{
    display: flex;
    line-height: 68px;
    position: sticky;
    position: -webkit-sticky;
}
nav ul{
    list-style-type: none;
    overflow: hidden;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: black;
    font-weight: normal;
    text-align: center;
    padding: 0px 5px 0px 50px;
    text-decoration: none;
}
nav ul li a:hover{
    color: white;
}
article{
    width: 70%;
    float: left;
    padding: 15px;
}
article p{
    word-spacing: 2px;
    line-height: 25px;
}
h3{
    text-align: left;
    color: black;
    font-size: 30px;
    margin-bottom: 9px;
}
.html{
    background: #CAF7E3;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.50);
    padding: 20px;
    margin-bottom: 20px;
}
.Java{
    background: #CAF7E3;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.50);
    padding: 20px;
    margin-bottom: 20px;
}
.PHP{
    background: #CAF7E3;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.50);
    padding: 20px;
    margin-bottom: 20px;
}
aside{
    width: 25%;
    padding: 15px;
    padding-right: 17px;
    float: right;
}
.back{
    background: #F8EDED;
}
aside img{
    width: 160px;
    height: 160px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 80px;
    margin-left: 80px;
}
h2{
    margin-bottom: 10px ;
    text-align: center;
}
table.bio{
    margin-left: 30px;
    margin-bottom: 10px;
    width: 80%;
    border-spacing: 10px;
}
p.moto{
    padding-bottom: 20px;
    margin-left: 30px;
    font-size: 11px;
}
.log{
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.50);
    background-color: rgba(0,0,0,.6);
    width: 420px;
    height: 370px;
    margin-left: 420px;
    margin-top : 50px;
    margin-bottom: 45px;
}
table.login{
    margin-left: 50px;
    border-spacing: 10px;
    color: white;
}
h3.login{
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
form.login input[type="text"]{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #f9f9f99d ;
    color: white;
    padding: 5px;
}
form.login input[type="password"]{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #f9f9f99d ;
    color: white;
    padding: 5px;
}
form.login input.button{
    margin-top: 25px;
    padding : 15px;
    width: 100px;
    border-radius: 15px;
    border:solid #a7f0cf;
    margin-left: 20px;
    margin-right: 30px;
    cursor: pointer;
}
form.login input.button:hover{
    border-radius: 15px;
    border:none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #34f39d ;
}
.countainer{
    background: #CAF7E3 ;
    height: 440px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.50);
}
h3.data{
    padding: 10px;
    margin-left: 35px;
}
a.tombol{
    background-color: #E4BAD4;
    padding: 10px;
    margin-left: 45px;
    color: red;
}
a.tombol:hover{
    background-color: #e969b8;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
table.pasien{
    text-align: center;
    width: 80%;
    margin-top: 30px;
    margin-left: 10%;
    margin-bottom: 10%;
    border-collapse: collapse;
    background-color: white;
    border: 1px solid #0000;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.20);
}
table.pasien th{
    background: #E4BAD4 ;
    color: white;
    font-size: 13px;
    padding: 10px;
}
table.pasien td{
    padding : 15px;
    font-size: 13px;
}
table.pasien tr:nth-child(odd){
    background-color: #f8ecf2;
}
a.hapus{
    background-color: red;
    padding: 5px;
    color: white;
    box-shadow:  0px 4px 8px rgba(0, 0, 0, 0.30); ;
}
table.array{
    width: 100%;
    padding: 5px;
}
form.array1 input[type="submit"]{
    background-color: #E4BAD4;
    padding: 7px;
    border: none;
    width: 60%;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}
form.array1 input[type="submit"]:hover{
    background-color: #e070b5;
    border: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); 
}
table.form{
    margin-left: 20%;
    margin-top: 30px;
    border-spacing: 10px;
    width: 50%;
    border: 1px solid #0000;
}
form.form input[type="text"]{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #000 ;
    padding: 5px;
}
form.form input.button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding : 10px;
    width: 100px;
    border-radius: 15px;
    border: none;
    margin-left: 20px;
    margin-right: 40px;
    cursor: pointer;
}
form.form input.button:hover{
    background-color: #e070b5;
    color: white;
    border: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); 
}
footer{
	position:relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    clear: both;
	text-align: center;
    padding: 1%;
    box-sizing: border-box;
    color: rgb(117, 117, 117);
}